# Ollama runs locally
OLLAMA_API=http://localhost:11434
MODEL_NAME=model_name_here  # Replace with the actual model name you want to use

MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<dbname>

QDRANT_HOST=IP_ADDRESS_OF_QDRANT_SERVER  # Replace with the actual IP address of your Qdrant server
QDRANT_PORT=6333

# OPENAI_API_KEY=key-goes-here  # Replace with your actual OpenAI API key