.env
__pycache__/
*.pyc

.vscode
local/
land/
.env
 dev
frontend/src/app/management/resource_evalautor/*.json
frontend/src/app/management/resource_evalautor/*.txt

backend/templatecomparator/output/
backend/templatecomparator/uploads/

# macOS system files
.DS_Store
